@model HaverDevProject.ViewModels.NcrQaDTO
@{
    ViewData["Title"] = "Edit";
}

<style>
    .thumbnail {
        max-width: 150px;
        max-height: 150px;
        margin: 5px;
    }

    img {
        max-width: 150px;
        max-height: 150px
    }
</style>

<div class="col-md-8 col-10 mx-auto">
  <partial name="_addItemModal" />
  <partial name="_addSupplierModal" />
  <partial name="_addDefectModal" />  
    <h1><i class="bi bi-caret-right-fill"></i>Quality Representative</h1>
    <button class="btn custom-details-btn icon-drop text-start mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#details" aria-expanded="false" aria-controls="details">
        Details <i class="bi bi-chevron-down"></i>
    </button>
    <div class="collapse" id="details">
        @if (ViewBag.ncrDetails != null)
        {
            @if (ViewBag.ncrDetails.NcrEng != null)
            {
                @await Html.PartialAsync("~/Views/NCRDetailViews/_NCREngDetailsPartial.cshtml", (NcrEng)ViewBag.ncrDetails.NcrEng)
            }
            @if (ViewBag.ncrDetails.NcrOperation != null)
            {
                @await Html.PartialAsync("~/Views/NCRDetailViews/_NCROpDetailsPartial.cshtml", (NcrOperation)ViewBag.ncrDetails.NcrOperation)
            }
            @if (ViewBag.ncrDetails.NcrProcurement != null)
            {
                @await Html.PartialAsync("~/Views/NCRDetailViews/_NCRProcDetailsPartial.cshtml", (NcrProcurement)ViewBag.ncrDetails.NcrProcurement)
            }
            @if (ViewBag.ncrDetails.NcrReInspect != null)
            {
                @await Html.PartialAsync("~/Views/NCRDetailViews/_NCRReInspDetailsPartial.cshtml", (NcrReInspect)ViewBag.ncrDetails.NcrReInspect)
            }
        }
    </div>   
    <form asp-action="Edit" method="post" enctype="multipart/form-data" id="formQa">
        <input type="hidden" asp-for="NcrQaId" />
        <input type="hidden" asp-for="NcrId" />
        <input type="hidden" name="isDraft" value="false" id="isDraftInput" />
        <div class="card border-2 mt-2">
            <div class="card-header bg-custom-color mb-2 d-flex justify-content-between">
                <div>
                    <h2 class="m-0">Edit NCR</h2>
                </div>
                <div class="justify-content-end">
                    <p class="m-0">Fields marked <span class="fw-bold text-danger">*</span> are required.</p>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
            <div class="card-body col-lg-10 col-11 mx-auto">
                <div class="row">
                    <div class="col-6">                    
                        <div class="form-group">
                            <label asp-for="NcrNumber" class="control-label fw-bold"></label>
                            <input asp-for="NcrNumber" class="form-control" readonly/>
                            <span asp-validation-for="NcrNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="NcrQacreationDate" class="control-label fw-bold"></label>
                            <input asp-for="NcrQacreationDate" class="form-control" readonly/>
                            <span asp-validation-for="NcrQacreationDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">       
                    <div class="form-group">
                        <label class="pb-3">
                            <strong>Identify Process Applicable</strong> 
                            <small data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Select the most suitable option">(e.g. Supplier or Rec-Insp)</small> 
                            <span class="fw-bold text-danger">*</span></label>
                        <div class="text-center">
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" asp-for="NcrQaProcessApplicable" value="true" checked />
                                <label class="form-check-label">Supplier or Rec-Insp</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" asp-for="NcrQaProcessApplicable" value="false" />
                                <label class="form-check-label">WIP (Production Order)</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">                
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="NcrQaOrderNumber" class="control-label">
                                <strong>PO or Prod. No. </strong>
                                <small data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Enter a valid value">(e.g. 4500730930)</small> 
                                <span class="fw-bold text-danger">*</span></label>
                            <input asp-for="NcrQaOrderNumber" class="form-control" type="number" step="1" />
                            <span asp-validation-for="NcrQaOrderNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="NcrQaSalesOrder" class="control-label">
                                <strong>Sales Order No. </strong>
                                <small data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Enter a valid value">(e.g. Stock)</small> 
                                <span class="fw-bold text-danger">*</span></label>
                            <input asp-for="NcrQaSalesOrder" class="form-control" />
                            <span asp-validation-for="NcrQaSalesOrder" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">               
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="NcrQaQuanReceived" class="control-label">
                                <strong>Quantity Received </strong>
                                <small data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Enter a numeric value">(e.g. 150)</small> 
                                <span class="fw-bold text-danger">*</span></label>
                            <input asp-for="NcrQaQuanReceived" class="form-control" />
                            <span asp-validation-for="NcrQaQuanReceived" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="NcrQaQuanDefective" class="control-label">
                                <strong>Quantity Defective</strong> 
                                <small data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Enter a numeric value">(e.g. 25)</small> 
                                <span class="fw-bold text-danger">*</span></label>
                            <input asp-for="NcrQaQuanDefective" class="form-control" />
                            <span asp-validation-for="NcrQaQuanDefective" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">     
                    <div class="form-group">
                        <label class="control-label">
                            <strong>Supplier </strong>
                            <small data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Select the most suitable option">(e.g. Lawrence Sintered Metals.)</small>
                            <span class="fw-bold text-danger">*</span>
                        </label>
                        <div class="input-group mb-1" id="dropautocomplete">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary custom-btn-color" id="nowAddSupplier" data-bs-toggle="modal" data-bs-target="#addSupplierModal" type="button" data-tooltip-supplier="true"><i class='bi-plus-square-dotted'></i></button>
                            </div>
                            <select class="form-control Supplierddlist" id="SupplierId" name="SupplierId" asp-items="ViewBag.SupplierId" asp-for="SupplierId" id="Supplier" required>
                                <option value="">Select Supplier</option>
                            </select>
                        </div>
                        <span asp-validation-for="SupplierId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ItemId" class="control-label">
                            <strong>Item </strong>
                            <small data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Select the most suitable option">(e.g. Panel.)</small>
                            <span class="fw-bold text-danger">*</span>
                        </label>
                        <div class="input-group mb-1" id="dropautocompleteforItem">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary custom-btn-color" id="nowAddItem" data-bs-toggle="modal" data-bs-target="#addItemModal" type="button" data-tooltip-item="true"><i class='bi-plus-square-dotted'></i></button>
                            </div>
                            <select asp-for="ItemId" id="ItemId" class="form-control Itemddlist" name="ItemId" asp-items="ViewBag.ItemId" id="Item">
                                <option value="">Select Item</option>
                            </select>
                        </div>
                        <span asp-validation-for="ItemId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DefectId" class="control-label">
                            <strong>Defect </strong>
                            <small data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Select the most suitable option">(e.g. Surface to house internal components.)</small>
                            <span class="fw-bold text-danger">*</span>
                        </label>                        
                        <select asp-for="DefectId" class="form-control Defectddlist" id="DefectId" name="DefectId" asp-items="ViewBag.DefectId" id="Defect">
                                <option value="">Select Item</option>
                            </select>                        
                        <span asp-validation-for="DefectId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NcrQaDescriptionOfDefect" class="control-label">
                            <strong>Description of Defect </strong>
                            <small data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Enter the required description">(e.g. Dimensions outside of control parameters.)</small> 
                            <span class="fw-bold text-danger">*</span></label>
                        <textarea asp-for="NcrQaDescriptionOfDefect" class="form-control"></textarea>
                        <span asp-validation-for="NcrQaDescriptionOfDefect" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label"><strong>Current Photos </strong></label>
                        <div class="ml-md-3">
                            <div id="photoListContainer">
                                @if (Model.ItemDefectPhotos.Any())
                                {
                                    int fileCount = Model.ItemDefectPhotos.Count;
                                    <a class="" role="button" data-bs-toggle="collapse" href="#collapsePhotos@(Model.NcrQaId)" aria-expanded="false" aria-controls="collapsePhotos@(Model.NcrQaId)">
                                        <span class="badge bg-info" id="photoCounter">@fileCount</span> Photos...
                                    </a>
                                    <div class="collapse" id="collapsePhotos@(Model.NcrQaId)">
                                        <div class="row justify-content-center">
                                            @foreach (var d in Model.ItemDefectPhotos)
                                            {
                                                <div id="photo-@d.ItemDefectPhotoId" class="d-flex align-items-center mb-2">
                                                    @if (d.ItemDefectPhotoContent != null)
                                                    {
                                                        string imageBase64 = Convert.ToBase64String(d.ItemDefectPhotoContent);
                                                        string imageSrc = string.Format("data:" + d.ItemDefectPhotoMimeType + ";base64,{0}", imageBase64);

                                                        <img src="@imageSrc" alt="Photo of @d.FileName" class="img-fluid rounded" />
                                                    }
                                                    <button type="button" class="btn btn-danger btn-sm ms-2" onclick="deletePhoto(@d.ItemDefectPhotoId)"><i class="bi bi-trash"></i></button>

                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <p id="noPhotosMessage">No photos to display.</p>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label custom-file-label"><strong>Upload Photos</strong></label>
                        <input type="file" class="form-control" name="Photos" id="imageUpload" multiple="multiple" />
                        <div id="imagePreview"></div>
                    </div>
                    <div class="form-group">
                        <label asp-for="NcrQaDefectVideo" class="control-label">
                            <strong>Video Links </strong>
                            <small data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Add multiple video links separated by a comma">(e.g. https://haverniagara.com, https://www.google.ca)</small>
                        </label>
                        <input asp-for="NcrQaDefectVideo" class="form-control" />
                        <span asp-validation-for="NcrQaDefectVideo" class="text-danger"></span>
                    </div>   
                </div>
                <div class="row">
                    <div class="col-6">                                           
                        <div class="form-group">
                            <label class="pb-3">
                                <strong>Item marked Nonconforming </strong>
                                <span class="fw-bold text-danger">*</span></label>
                            <div class="text-center">
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" asp-for="NcrQaItemMarNonConforming" value="true" checked />
                                    <label class="form-check-label">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" asp-for="NcrQaItemMarNonConforming" value="false" />
                                    <label class="form-check-label">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="pb-3">
                                <strong>Engineer Disposition Required? </strong>
                                <span class="fw-bold text-danger">*</span></label>
                            <div class="text-center">
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" asp-for="NcrQaEngDispositionRequired" value="true" checked/>
                                    <label class="form-check-label">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" asp-for="NcrQaEngDispositionRequired" value="false" />
                                    <label class="form-check-label">No</label>
                                </div>
                            </div>                        
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p>
                        Completed NCR to be forwarded to HBC Purchasing Manager complete with any relevant documents attached (pictures, actual measurements, material certs, etc.)
                    </p>                  
                </div>
            </div>
            <div class="card-footer">
                <div class="form-group d-flex justify-content-end mt-2">
                    <div>
                        <button type="button" onclick="location.href='@ViewData["returnURL"]'" class="btn custom-btn-color ">
                            <i class="bi bi-arrow-90deg-left"></i> Back to NCR Log
                        </button>
                    </div>
                    @if (Model.NcrQaStatusFlag)
                    {
                        <div>
                            <button type="button" id="saveDraftButton" class="btn btn-success ms-4 ">
                                <i class="bi bi-pencil"></i> Save as Draft
                            </button>
                        </div>
                    }
                    <div>
                        <button type="submit" class="btn btn-primary ms-4">
                            <i class="bi bi-floppy"></i> Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>        
</div>

@section Styles {
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/refreshDDL.js"></script>
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });
    </script>
    <!--Script for draft-->
    <script>
        $(document).ready(function () {
            $("#saveDraftButton").click(function () {
                // Show the message.
                var confirmMessage = "This record will be saved as a draft if all the required fields are filled. \nAre you sure you want to continue?";
                if (confirm(confirmMessage)) {
                    //if is true, change the value of the parameter
                    $("#isDraftInput").val("true");
                    // Send the form
                    $("#formQa").submit();
                } else {
                    return false;
                }
            });
        });
    </script>
    <!--Script for tooltips-->
    <script>
        $(document).ready(function () {
            initializeTooltip('Add New Supplier', '[data-tooltip-supplier="true"]');
            initializeTooltip('Add New Item', '[data-tooltip-item="true"]');
            //initializeTooltip('Add New Defect', '[data-tooltip-defect="true"]');
        });
        function initializeTooltip(title, selector) {
            $(selector).tooltip({
                title: title
            });
        }
    </script>
    <!-- Supplier Autocomplete Field-->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            var $select2 = $('.Supplierddlist').select2();
            var $select2 = $('.Itemddlist').select2();
            var $select2 = $('.Defectddlist').select2();
        });
    </script>
    <!--Script Add New Supplier button-->
    <script type="text/javascript">
        $('#submitSupplierCreate').click(function (event) {
            event.preventDefault();
            ClearErrorsSupplier();
            var form = $('#createSupplierForm');
            if (form.valid()) {
                $.ajax({
                    type: "POST",
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function () {
                        $('#addSupplierModal').modal('hide');
                    },
                    error: function (xhr) { //Note: xhr is the XMLHttpRequest
                        var errorMessages = [];
                        switch (xhr.status) {
                            case 401:
                                errorMessages.push("You must be logged in first.");
                                break;
                            case 403:
                                errorMessages.push("You are not authorized for this action.");
                                break;
                            default:
                                //Messages coming from the Model State Errors
                                //We split on the | delimeter and the .slice removes the last one
                                errorMessages = xhr.responseText.split("|").slice(0, -1);
                        }
                        //This checks if there are any elements with some content
                        //and if not then it provides a default feedback message.
                        if (!errorMessages.some((str) => str !== "")) {
                            errorMessages.push("Error: Unable to complete operation");
                        }
                        //Put the messages in the ErrorList ul contained in the 'ValidaitonSummary' div.
                        var ul = document.getElementById("ErrorListSupplier");
                        for (var i = 0; i < errorMessages.length; i++) {
                            var errorMessage = errorMessages[i];
                            var li = document.createElement("li");
                            li.innerHTML = errorMessage;
                            ul.appendChild(li);
                        }
                    }
                });
            }
            return false;
        });
        $('#addSupplierModal').on('hide.bs.modal', function () {
            document.getElementById("createSupplierForm").reset();//to clear the data in the popup form
            ClearErrorsSupplier();
            var selectedOption = $('#SupplierId').val();//Return to the current selected value
            refreshDDL('SupplierId', '/NcrQa/GetSuppliers/' + selectedOption, false, null, true, 'Select Supplier', true);
        });
        function ClearErrorsSupplier() {
            //Empty out the list of validation errors if there are any
            var ul = document.getElementById("ErrorListSupplier");
            while (ul.firstChild) {
                ul.removeChild(ul.firstChild);
            }
        }
    </script>
    <!--Script for Add New Item button-->
    <script type="text/javascript">
        $('#submitItemCreate').click(function (event) {
            event.preventDefault();
            ClearErrors();
            var form = $('#createItemForm');
            if (form.valid()) {
                $.ajax({
                    type: "POST",
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function () {
                        $('#addItemModal').modal('hide');
                    },
                    error: function (xhr) { //Note: xhr is the XMLHttpRequest
                        var errorMessages = [];
                        switch (xhr.status) {
                            case 401:
                                errorMessages.push("You must be logged in first.");
                                break;
                            case 403:
                                errorMessages.push("You are not authorized for this action.");
                                break;
                            default:
                                //Messages coming from the Model State Errors
                                //We split on the | delimeter and the .slice removes the last one
                                errorMessages = xhr.responseText.split("|").slice(0, -1);
                        }
                        //This checks if there are any elements with some content
                        //and if not then it provides a default feedback message.
                        if (!errorMessages.some((str) => str !== "")) {
                            errorMessages.push("Error: Unable to complete operation");
                        }
                        //Put the messages in the ErrorList ul contained in the 'ValidaitonSummary' div.
                        var ul = document.getElementById("ErrorListItem");
                        for (var i = 0; i < errorMessages.length; i++) {
                            var errorMessage = errorMessages[i];
                            var li = document.createElement("li");
                            li.innerHTML = errorMessage;
                            ul.appendChild(li);
                        }
                    }
                });
            }
            return false;
        });
        $('#addItemModal').on('hide.bs.modal', function () {
            document.getElementById("createItemForm").reset();//to clear the data in the popup form
            ClearErrors();

            var selectedOption = $('#ItemId').val();//Return to the current selected value
            var URLItem = "/NcrQa/GetItems/";
            refreshDDL('ItemId', URLItem, true, 'No items related with the supplier selected', true, 'Select Item', true);
        });
        function ClearErrors() {
            //Empty out the list of validation errors if there are any
            var ul = document.getElementById("ErrorListItem");
            while (ul.firstChild) {
                ul.removeChild(ul.firstChild);
            }
        }
    </script>   
    <script>
        function deletePhoto(photoId) {
            if (!confirm("Are you sure you want to delete this photo?")) return;
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeletePhoto", "NcrQa")',
                data: { photoId: photoId },
                success: function (response) {
                    if (response.success) {
                        $("#photo-" + photoId).remove();
                        var currentCount = parseInt($("#photoCounter").text());
                        var newCount = currentCount - 1;
                        alert("Photo deleted sucessfully!");
                        if (newCount > 0) {
                            $("#photoCounter").text(newCount);
                        } else {
                            $("#photoListContainer").html('<p>No photos to display.</p>');
                        }
                    } else {
                        alert("Error: " + response.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert("An error occurred. Please try again.");
                }
            });
        }
    </script>

    <!-- Functionality to display uploaded image thumbnails -->
    <script>
        document.getElementById("imageUpload").addEventListener("change", function (event) {
            var imagePreview = document.getElementById("imagePreview");
            imagePreview.innerHTML = "";

            var files = event.target.files;

            for (var i = 0; i < files.length; i++) {
                var file = files[i];

                if (!file.type.match('image.*')) {
                    continue;
                }

                var reader = new FileReader();

                reader.onload = function (e) {
                    var img = new Image();
                    img.src = e.target.result;
                    img.classList.add("thumbnail");
                    imagePreview.appendChild(img);
                }

                reader.readAsDataURL(file);
            }
        });
    </script>
}
